@model EdgeOfTheEmpire.Entities.CharacterSpecialization

<form asp-action="AddSpecialization" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label asp-for="Specialization" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Specialization" class="form-control" />
            <span asp-validation-for="Specialization" class="text-danger"></span>
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Add specialization" />
        </div>
    </div>

</form>