<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edge of the empire</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Character" asp-action="List">Characters</a></li>
                    <li><a asp-controller="Career" asp-action="List">Careers</a></li>
                    <li><a asp-controller="Specialization" asp-action="List">Specializations</a></li>
                    <li><a asp-controller="Skill" asp-action="List">Skills</a></li>
                    <li><a asp-controller="Talent" asp-action="List">Talents</a></li>                    
                </ul>
                
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
